@use '@/scss/utils/breakpoints' as *;
@use '@/scss/utils/variables' as *;

// ========= Helpers mixins =========

@mixin toFull($self) {
  padding: 10px 15px;

  width: auto;
  height: auto;

  @media screen and (min-width: $xlg) {
    padding: 12px 25px;
  }

  #{ $self } {
    &__icon {
      margin-right: 10px;

      @media screen and (min-width: $xlg) {
        margin-right: 14px;
      }
    }

    &__text {
      display: block;
    }
  }
}

// ==================================

.iconTextButton {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40.5px;
  height: 40.5px;

  border-radius: 30px;

  text-decoration: none;

  @media screen and (min-width: $md) {
    @include toFull($self);
  }

  &:first-child {
    margin-right: 5px;

    @media screen and (min-width: $xlg) {
      margin-right: 23px;
    }
  }

  &--blue {
    background-color: $darkBlue;
  }

  &--orange {
    background-color: $orange;
  }

  &--full {
    @include toFull($self);

    @media screen and (min-width: $lg) {
      display: none;
    }
  }

  &__icon {
    height: auto;

    fill: $white;

    &--randomRecipe {
      width: 23px;

      @media screen and (min-width: $xlg) {
        width: 32px;
      }
    }

    &--explore {
      width: 19px;

      @media screen and (min-width: $xlg) {
        width: 28px;
      }
    }
  }

  &__text {
    display: none;

    font-family: $rubik;
    font-weight: bold;
    color: $white;
    font-size: 0.75rem;

    @media screen and (min-width: $xlg) {
      font-size: 0.938rem;
    }
  }
}
