@use '@/scss/utils/variables' as *;

.navigationBar {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 31px;

  &__logo {
    width: 82px;
    height: auto;
  }

  &__buttonsWrapper {
    display: flex;

    margin-left: 20px;
  }

  &__menu {
    border: 0;
    outline: none;
    background-color: transparent;
  }

  &__menuImage { }

  &__content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    margin: 10px 10px 0 0;
    padding: 10px;

    width: 67%;
    height: calc(100% - 20px);

    background-color: $white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba($darkBlue, 0.1);

    z-index: 2;

    #{ $self }--active & {
      display: block;
    }
  }

  &__menuTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 31px;
    margin-bottom: 51px;
  }

  &__mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 0 31px;
  }

  &__link {
    display: inline-block;

    margin-bottom: 29px;

    text-decoration: none;
    font-size: 0.938em;
    font-weight: 600;
    font-family: $rubik;
    color: $darkBlue;

    &--orange {
      color: $orange;
    }
  }

  &__menuSeparator {
    margin-bottom: 29px;

    width: calc(100% + 62px);
    height: 1px;

    transform: translateX(31px);
    background-color: rgba($darkBlue, 0.1);
  }

  &__linksGroup {
    font-size: 0.938em;
    font-weight: 600;
    font-family: $rubik;
    color: $darkBlue;
  }
}
