@use '@/scss/utils/breakpoints' as *;
@use '@/scss/utils/variables' as *;

.navigationBar {
  $self: &;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 31px;

  @media screen and (min-width: $xlg) {
    padding: 27px 83px;
  }

  &__logo {
    width: 82px;
    height: auto;

    @media screen and (min-width: $xlg) {
      width: 159px;
    }
  }

  &__buttonsWrapper {
    display: flex;

    margin-left: 20px;

    @media screen and (min-width: $lg) {
      justify-content: flex-end;
      flex: 1;
    }

    @media screen and (min-width: $xlg) {
      margin-right: 90px;
    }
  }

  &__menu {
    border: 0;
    outline: none;
    background-color: transparent;

    @media screen and (min-width: $lg) {
      display: none;
    }
  }

  &__menuImage { }

  &__content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    margin: 10px 10px 0 0;
    padding: 10px;

    width: 67%;
    height: calc(100% - 20px);

    background-color: $white;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba($darkBlue, 0.1);

    z-index: 2;

    @media screen and (min-width: $sm) {
      width: 45%;
    }

    @media screen and (min-width: $lg) {
      display: block;
      position: static;

      margin: 0;

      width: auto;
      height: auto;

      border-radius: 0;
      box-shadow: none;
    }

    #{ $self }--active & {
      display: block;
    }
  }

  &__menuTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 31px;
    margin-bottom: 51px;

    @media screen and (min-width: $lg) {
      display: none;
    }
  }

  &__mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 0 31px;

    @media screen and (min-width: $lg) {
      display: block;
    }

    @media screen and (min-width: $xlg) {
      padding: 0;
    }
  }

  &__link {
    display: inline-block;

    margin-bottom: 29px;

    text-decoration: none;
    font-size: 0.938em;
    font-weight: 600;
    font-family: $rubik;
    color: $darkBlue;

    @media screen and (min-width: $lg) {
      margin-bottom: 0;

      #{ $self }__mainContent > & {
        margin-right: 49px;

        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }

    @media screen and (min-width: $xlg) {
      font-size: 1.25rem;
    }

    &--orange {
      color: $orange;
    }

  }

  &__menuSeparator {
    margin-bottom: 29px;

    width: calc(100% + 62px);
    height: 1px;

    transform: translateX(31px);
    background-color: rgba($darkBlue, 0.1);

    @media screen and (min-width: $lg) {
      display: none;
    }
  }

  &__linksGroup {
    font-size: 0.938em;
    font-weight: 600;
    font-family: $rubik;
    color: $darkBlue;

    @media screen and (min-width: $lg) {
      margin-left: 134px;
    }
  }
}
