<div>
  {% render 'navigationBar' %}

  <!-- Hero section -->
  <header class="exploreHeroSection">
    <img class="exploreHeroSection__image" src="assets/svg/illustrations/manWithKebab.svg" alt="Man with kebab illustration" title="Man with kebab">
    <h1 class="exploreHeroSection__heading">
      <span class="exploreHeroSection__firstPartHeading">Find your</span>
      <span class="partColorText">cooking</span> inspiration
    </h1>
  </header>

  <main>
    <!-- Last added section (Swiper slider) -->
    <section class="exploreLastAddedSection">
      <h2 class="exploreLastAddedSection__title">Last added</h2>
      <div class="exploreLastAddedSection__swiper swiper">
        <div class="exploreLastAddedSection__slideWrapper swiper-wrapper">
          {% for recipeName in lastAddedRecipes %}
            <div class="exploreLastAddedSection__slide swiper-slide">
              <div class="recipeCard recipeCard--forSlider">
                {{ recipeName }}
                <img class="recipeCard__favouriteIcon" src="assets/svg/star.svg" alt="Yellow start icon" title="Start icon">
                <div class="recipeCard__profileWrapper">
                  <img class="recipeCard__profileIcon" src="assets/svg/profile.svg" alt="Profile icon" title="Profile icon">
                  By Michael Johns
                </div>
                <div class="recipeCard__likesWrapper">
                  <img class="recipeCard__likeIcon" src="assets/svg/heart.svg" alt="Red heart icon" title="Heart icon">
                  123
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="exploreLastAddedSection__navigationButtonsWrapper">
          <button class="exploreLastAddedSection__navButton exploreLastAddedSection__navButton--prev swiper-button-prev">
            <img class="exploreLastAddedSection__navBtnIcon" src="assets/svg/navArrow.svg" alt="Orange arrow icon" title="Arrow icon">
          </button>

          <button class="exploreLastAddedSection__navButton exploreLastAddedSection__navButton--next swiper-button-next">
            <img class="exploreLastAddedSection__navBtnIcon" src="assets/svg/navArrow.svg" alt="Orange arrow icon" title="Arrow icon">
          </button>
        </div>
      </div>
    </section>

    <!-- Filters section (search bar / meal type filter) -->
    <section class="exploreFiltersSection">
      <!-- Search bar -->
      <div class="exploreFiltersSection__searchBar">
        <input class="exploreFiltersSection__searchInput" type="text" placeholder="Search recipe ...">
        <button class="exploreFiltersSection__searchButton">
            <img class="exploreFiltersSection__searchIcon" src="assets/svg/search.svg" alt="Search icon" title="Search icon">
        </button>
      </div>

      <!-- Meal type filter -->
      <div class="exploreFiltersSection__mealTypeFilter">
        Sort By Category
        <img class="exploreFiltersSection__filterIcon" src="assets/svg/categoryFilter.svg" alt="Filter menu icon" title="Filter icon">
        <div class="exploreFiltersSection__categoriesWrapper">
          <button class="exploreFiltersSection__categoryButton">Breakfast</button>
          <button class="exploreFiltersSection__categoryButton">Dessert</button>
          <button class="exploreFiltersSection__categoryButton">Dinner</button>
          <button class="exploreFiltersSection__categoryButton">Lunch</button>
          <button class="exploreFiltersSection__categoryButton">Main</button>
        </div>
      </div>
    </section>

    <!-- Gallery section (all recipes here) -->
    <section class="exploreGallerySection">
      {% for recipeName in recipes %}
        <div class="recipeCard">
          {{ recipeName }}
          <img class="recipeCard__favouriteIcon" src="assets/svg/star.svg" alt="Yellow start icon" title="Start icon">
          <div class="recipeCard__profileWrapper">
            <img class="recipeCard__profileIcon" src="assets/svg/profile.svg" alt="Profile icon" title="Profile icon">
            By Michael Johns
          </div>
          <div class="recipeCard__likesWrapper">
            <img class="recipeCard__likeIcon" src="assets/svg/heart.svg" alt="Red heart icon" title="Heart icon">
            123
          </div>
        </div>
      {% endfor %}
    </section>

    <!-- Pagination section -->
    <section class="explorePaginationSection">
      <div class="explorePaginationSection__pagination">
        <button class="explorePaginationSection__paginationNavButton explorePaginationSection__paginationNavButton--prev">
          <img class="explorePaginationSection__paginationNavIcon" src="assets/svg/navArrow.svg" alt="Pagination navigation arrow prev" title="Pagination prev arrow">
        </button>

        <div class="explorePaginationSection__paginationWrapper">
          <button class="explorePaginationSection__paginationBlock explorePaginationSection__paginationBlock--active">1</button>
          <button class="explorePaginationSection__paginationBlock">2</button>
          <button class="explorePaginationSection__paginationBlock">3</button>
          <button class="explorePaginationSection__paginationBlock">4</button>
          <button class="explorePaginationSection__paginationBlock">5</button>
        </div>

        <button class="explorePaginationSection__paginationNavButton explorePaginationSection__paginationNavButton--next">
          <img class="explorePaginationSection__paginationNavIcon" src="assets/svg/navArrow.svg" alt="Pagination navigation arrow next" title="Pagination next arrow">
        </button>
      </div>
    </section>
  </main>

  {% render 'footerSection' %}
</div>
