// Setup background image with basic configuration
@mixin bgImage($imageUrl) {
  background-image: url($imageUrl);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Create overlay on element
@mixin overlay($baseColor: black) {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $baseColor;
}
